{
  "extends": [
    "react-app",
    "airbnb",
    "plugin:jsx-a11y/recommended",
    "prettier",
    "prettier/react"
  ],
  "plugins": [
    "jsx-a11y",
    "prettier"
  ],
  "rules": {
    "semi": 0,
    "import/prefer-default-export": "off",
    "react/prop-types": "warn",
    "jsx-a11y/autocomplete-valid": "off",
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "no-underscore-dangle": "off",
    "no-console": "off",
    "consistent-return": "off",
    "react/jsx-props-no-spreading": "off",
    "prettier/prettier": [
      "error", {
        "printWidth": 85,
        "arrowParens": "always",
        "semi": false,
        "tabWidth": 2,
        "singleQuote": true
      }
    ]
  },
}